.signin-btn {
  border-radius: 30px;
  width: 80%;
  color: white;
  font-size: 30px;
  line-height: 35px;
  background-color: transparent;
}
.signup-btn {
  border-radius: 30px;
  width: 80%;
  color: white;
  font-size: 30px;
  line-height: 35px;
  background-color: #0078d7;
}