.DaskboardLayout {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
  border: solid 2px rgb(162, 158, 167);
  padding: 40px;
  &__leftcomponent {
    width: 20%;
    font-size: 14px;
    img {
      width: 40px;
    }
  }
  &__rightcomponent {
    font-size: 10px;
    width: 80%;
    // &-form {
    // }
  }
}
